th,td{width: 150px;border: 2px solid gray;text-align: center;}
body{text-align: center;background-image: linear-gradient(#3D4B54,#5094BE);}
a{text-decoration: none;}
table {border-collapse: collapse;}
.biaoti
{
	color:white;
}
.wei
{
	color:white;
}
p
{
	text-align:center;
	 height:15px; 
	 font-size:15px;
	color:white;
}
